<h1>Burgers!</h1>

<h2>These burgers are waiting for you!</h2>

<ul>
  {{#each burgers}}
    {{#unless Devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Mmm that was good!</h2>

<ul>
  {{#each burgers}}
  
    {{#if Devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
    
  {{/each}}
  
  
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Are you ready to devour this?</label><br>
    <input type="radio" name="devour" value="1" checked> Eat it!<br>
    <input type="radio" name="devour" value="0"> Save for later <br
  </div>
  <button type="submit" class="btn btn-dark">Add Burger</button>
  {{!-- <button type="submit">Add Burger<button> --}}
  
</form>
